{# MyCompany/MyProject/SysBundle/Resources/views/Security/security.html.twig #}
{% extends 'MyCompanyMyProjectSysBundle::base_app.html.twig' %}

{# MyCompany.MyProject.SysBundle.Resources.views.Security.BlockTemplate.Footer #}
{% block footer %}
<div class="footer" id="footer">
{% render "MyCompanyMyProjectSysBundle:View:footer" %}
</div>
<div></div>
{% endblock footer %}

{# MyCompany.MyProject.SysBundle.Resources.views.Security.BlockTemplate.Loginheader #}
{% block loginheader %}
<div class="loginheader" id="loginheader">
{% render "MyCompanyMyProjectSysBundle:View:loginheader" %}
</div>
<div></div>
{% endblock loginheader %}
