
{# MyCompany.MyProject.AppBundle.Resources.views.View.BlockTemplate.Welcome #}
{% block welcome %}
<div class="welcome" id="welcome">
{% render "MyCompanyMyProjectAppBundle:View:welcome" %}
</div>
<div></div>
{% endblock welcome %}
