
{# MyCompany.MyProject.AppBundle.Resources.views.View.BlockTemplate.Contact #}
{% block contact %}
<div class="contact" id="contact">
{% render "MyCompanyMyProjectAppBundle:View:contact" %}
</div>
<div></div>
{% endblock contact %}

{# MyCompany.MyProject.AppBundle.Resources.views.View.BlockTemplate.Versioning #}
{% block versioning %}
<div class="versioning" id="versioning">
{% render "MyCompanyMyProjectAppBundle:View:versioning" %}
</div>
<div></div>
{% endblock versioning %}

{# MyCompany.MyProject.AppBundle.Resources.views.View.BlockTemplate.Copyright #}
{% block copyright %}
<div class="copyright" id="copyright">
{% render "MyCompanyMyProjectAppBundle:View:copyright" %}
</div>
<div></div>
{% endblock copyright %}
