{# MyCompany/MyProject/SysBundle/Resources/views/AdminUser/admin_user.html.twig #}
{% extends 'MyCompanyMyProjectSysBundle::base_app.html.twig' %}

{# MyCompany.MyProject.SysBundle.Resources.views.AdminUser.BlockTemplate.Navbar #}
{% block navbar %}
{% render "MyCompanyMyProjectSysBundle:Navigation:create" %}
{% endblock navbar %}

{# MyCompany.MyProject.SysBundle.Resources.views.AdminUser.BlockTemplate.Header #}
{% block header %}
<div class="header" id="header">
{% render "MyCompanyMyProjectSysBundle:View:header" %}
</div>
<div></div>
{% endblock header %}

{# MyCompany.MyProject.SysBundle.Resources.views.AdminUser.BlockTemplate.Footer #}
{% block footer %}
<div class="footer" id="footer">
{% render "MyCompanyMyProjectSysBundle:View:footer" %}
</div>
<div></div>
{% endblock footer %}
