
{# MyCompany.MyProject.SysBundle.Resources.views.View.BlockTemplate.Copyright #}
{% block copyright %}
<div class="copyright" id="copyright">
{% render "MyCompanyMyProjectSysBundle:View:copyright" %}
</div>
<div></div>
{% endblock copyright %}

{# MyCompany.MyProject.SysBundle.Resources.views.View.BlockTemplate.Versioning #}
{% block versioning %}
<div class="versioning" id="versioning">
{% render "MyCompanyMyProjectSysBundle:View:versioning" %}
</div>
<div></div>
{% endblock versioning %}

{# MyCompany.MyProject.SysBundle.Resources.views.View.BlockTemplate.Contact #}
{% block contact %}
<div class="contact" id="contact">
{% render "MyCompanyMyProjectSysBundle:View:contact" %}
</div>
<div></div>
{% endblock contact %}
