
{# MyCompany.MyProject.SysBundle.Resources.views.View.BlockTemplate.Scope #}
{% block scope %}
<div class="scope" id="scope">
{% render "MyCompanyMyProjectSysBundle:View:scope" %}
</div>
<div></div>
{% endblock scope %}

{# MyCompany.MyProject.SysBundle.Resources.views.View.BlockTemplate.Logo #}
{% block logo %}
<div class="logo" id="logo">
{% render "MyCompanyMyProjectSysBundle:View:logo" %}
</div>
<div></div>
{% endblock logo %}

{# MyCompany.MyProject.SysBundle.Resources.views.View.BlockTemplate.Userid #}
{% block userid %}
<div class="userid" id="userid">
{% render "MyCompanyMyProjectSysBundle:View:userid" %}
</div>
<div></div>
{% endblock userid %}

{# MyCompany.MyProject.SysBundle.Resources.views.View.BlockTemplate.Title #}
{% block title %}
<div class="title" id="title">
{% render "MyCompanyMyProjectSysBundle:View:title" %}
</div>
<div></div>
{% endblock title %}

{# MyCompany.MyProject.SysBundle.Resources.views.View.BlockTemplate.Menu #}
{% block menu %}
<div class="menu" id="menu">
{% render "MyCompanyMyProjectSysBundle:View:menu" %}
</div>
<div></div>
{% endblock menu %}
