
{# MyCompany.MyProject.SysBundle.Resources.views.View.BlockTemplate.Logintitle #}
{% block logintitle %}
<div class="logintitle" id="logintitle">
{% render "MyCompanyMyProjectSysBundle:View:logintitle" %}
</div>
<div></div>
{% endblock logintitle %}

{# MyCompany.MyProject.SysBundle.Resources.views.View.BlockTemplate.Logo #}
{% block logo %}
<div class="logo" id="logo">
{% render "MyCompanyMyProjectSysBundle:View:logo" %}
</div>
<div></div>
{% endblock logo %}
