{# MyCompany/MyProject/SysBundle/Resources/views/ViewPart/logo.html.twig #}
<div class="logopicture" id="logopicture">
{% set items = { 'text1': 'bundles/mycompanymyprojectsys/images/', 'text2': logo } %}
<img src="{{ asset(items|join()) }}" alt="{{ logo }}" />
</div>
