{# MyCompany/MyProject/SysBundle/Resources/views/Main/main.html.twig #}
{% extends 'MyCompanyMyProjectSysBundle::base_app.html.twig' %}

{# MyCompany.MyProject.SysBundle.Resources.views.Main.BlockTemplate.Stylesheets #}
{% block stylesheets %}
{% stylesheets '@MyCompanyMyProjectSysBundle/Resources/public/css/*'  %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock stylesheets %}

{# MyCompany.MyProject.SysBundle.Resources.views.Main.BlockTemplate.Footer #}
{% block footer %}
<div class="footer" id="footer">
{% render "MyCompanyMyProjectSysBundle:View:footer" %}
</div>
<div></div>
{% endblock footer %}

{# MyCompany.MyProject.SysBundle.Resources.views.Main.BlockTemplate.Content #}
{% block content %}
<div class="content" id="content">
{% render "MyCompanyMyProjectSysBundle:View:content" %}
</div>
<div></div>
{% endblock content %}

{# MyCompany.MyProject.SysBundle.Resources.views.Main.BlockTemplate.Header #}
{% block header %}
<div class="header" id="header">
{% render "MyCompanyMyProjectSysBundle:View:header" %}
</div>
<div></div>
{% endblock header %}

{# MyCompany.MyProject.SysBundle.Resources.views.Main.BlockTemplate.Javascripts #}
{% block javascripts %}
<script src="{{ asset('/js/main.js') }}" type="text/javascript"></script>
{% endblock javascripts %}

{# MyCompany.MyProject.SysBundle.Resources.views.Main.BlockTemplate.Navbar #}
{% block navbar %}
{% render "MyCompanyMyProjectSysBundle:Navigation:create" %}
{% endblock navbar %}
