{# MyCompany/MyProject/AppBundle/Resources/views/PamFraude/message.html.twig #}
{% extends 'MyCompanyMyProjectAppBundle:PamFraude:pam_fraude.html.twig' %}
{% block content %}
<div class="content">
{% if is_granted('ROLE_MESSAGE') %}
<div class="leftpadding" id="leftpadding"></div>
<div class="messagecontent">
<div class="message" id="message">
<table>
	<tr><td>
		{{	message | trans | replace({'%name%': name,'%action%': action, '%scope%': scope}) }}
	</td></tr>
</table>
</div>
<div class="commands" id="commands">
   <div class="command" id="backcommand">
        <form class="command" id="backform" action="{{ path(path, { 'id': id, 'name': name, 'action': action, 'scope': scope, 'back': 'message' } ) }}" method="post">
            <button name="back" type=submit class="buttonaslink" id="backaction"
            onmouseover="this.className='buttonaslinkover';"
            onmouseout="this.className='buttonaslink';">{% render 'MyCompanyMyProjectAppBundle:View:translate' with {'text': '#form_back_btn#', 'domain': 'labels' } %}</button>
        </form>
   </div>
</div>
</div>
<div class="rightpadding"></div>
{% endif %}
{% if not (is_granted('ROLE_MESSAGE')) %}
<div class="infomessage" id="infomessage">
{% render 'MyCompanyMyProjectAppBundle:View:translate' with {'text': '#sys_not_authorized#', 'domain': 'system' } %}
</div> 
{% endif %}
<div id="screen" class="screen">
<script>
function ctr(path) {
 	re1 = new RegExp("^.*[_](.*)[_].*$");
	re2 = new RegExp("^.*[_].*[_](.*)$");
	s1 = re1.exec(path); s1 = s1[1].toUpperCase();
	s2 = re2.exec(path); s2 = s2[1].toUpperCase();
	s3 = "MESSAGE";
	s4 = "0000000" + "{{ id }}"; l = String(s4).length;
	s4 = String(s4).substring(l, l - 7); 	
	document.write(s1.substring(0,1) + s2.substring(0,1) + s3.substring(0,3) + s4);
}
ctr("{{ path }}");
</script>
</div>
</div>
{% endblock content%}
